.container-fluid {
    padding: 0 !important;
    margin: 0;
    position: relative;
    .row {
      display: block;
      margin: 0 auto;
      height: 100%;
      padding: 2em;
      max-width: 1050px;
    }
}

.hero {
    display: block;
    margin: 0 auto;
    max-width: 100vw;
    padding: 2em;
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2em 0;
    .col:nth-of-type(2) {
        @include flexbox();
    }
}

.call-to-action {
    @include flexbox();
    height: 100%;
    text-align: left;
    padding: 2em;
    .col:first-child {
        max-width: 500px;
      }
      .col:nth-of-type(2) {
        max-width: 500px;

        img {
          width: 100%;
          height: 100%;
          max-width: 500px;
          display: block;
          margin: 2em auto;
        }
      }
}

.works {
    .col:nth-of-type(2) {
        @include flexbox();
        flex-flow: row wrap;
        border: 1px solid transparent;
        img {
          display: inline-block;
          margin: 0 auto;
          width: 300px;
          height: 250px;
          margin: 0.3em;
          border-radius: 15px;
        }
      }
      h5 {
        padding-bottom: 1em;
        font-size: 24px;
        font-weight: 600;
      }
}

.contact {
    padding: 5em;
    width: 100%;
    form {
      display: block;
      margin: 0 auto;
      min-width: 250px;
      max-width: 400px;
      label {
        display: none;
      }
      h3 {
        font-weight: 600;
      }
      h4 {
        font-size: 16px;
      }
    }
  }

  .copyright {
    p {
      text-align: center;
      color: $fall_text;}

  }

  .phone-contact {
    padding: 2em;
    height: auto;
    @include flexbox();
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 700px;
    z-index: 1;
    .col {
      max-width: 250px;
    }
  }