$fall_background: #46383A;
$fall_orange: #F37B51;
$fall_text: #F4F4F4;
$fall_cementblue: #98AAB1;

$winter_background: #3D3D46;
$winter_header: #915057;
$winter_text: #FAFAFA;
$winter_cementblue: #7F91B5;



