@import "./variable";
@import "./mixins";

body {
  background-color: $brown;
  color: $smokehaze;
  width: 100vw;
  height: 100vh;
  .hero {
    height: 70vh;
    background-image: url("../img/leaves.jpeg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
      text-align: center;
      color: $smokehaze;
      margin-top: 1em;
      font-size: 8vmin;
      text-transform: lowercase;
    }
    hr {
      border: 1px solid $orange;
      width: 50vw;
    }
    h5 {
      font-weight: 200;
      font-size: 28px;
      text-align: center;
      color: $smokehaze;
    }
    .col:nth-of-type(2) {
      @include flexbox();
      .hero-btn {
        width: 30vw;
        height: 30vw;
        max-width: 200px;
        max-height: 200px;
        margin: 0.3em;
        background: transparent;
        border: 1px solid $smokehaze;
        color: $smokehaze;
        font-size: 14px;
        img {
          width: 70%;
        }
      }
    }
  }
  .call-to-action {
    @include flexbox();
    margin: 0 auto;
    height: 100%;
    max-width: 90vw;
    background-color: $smokehaze;
    padding: 2em;
    text-align: left;
    h2 {
      color: $orange;
    }
    p {
      color: $brown;
    }
    button {
      margin: 0 auto;
      background-color: $cementblue;
      color: $smokehaze;
      width: 20vw;
      min-width: 150px;
      height: 40px;
      border-radius: 50px;
      border: none;
      font-size: 16px;
    }
    .col:first-child {
      max-width: 500px;
    }
    .col:nth-of-type(2) {
      max-width: 500px;

      img {
        width: 100%;
        height: 100%;
        max-width: 500px;
        display: block;
        margin: 2em auto;
      }
      padding: 0;
    }
  }
  .works {
    margin: 0 auto;
    max-width: 90vw;
    padding: 2em;
    background-color: $brown;
    color: $smokehaze;
    .col:nth-of-type(2) {
      @include flexbox();
      flex-flow: row wrap;
      img {
      display: inline-block;
      margin: 0 auto;
        width: 300px;
        max-width: 300px;
        height: 250px;
        margin: 0.3em;
        border-radius: 15px;
      }
    }
    h5 {
      text-align: center;
      padding-bottom: 1em;
      font-size: 24px;
      font-weight: 600;
    }
  }
  .contact {
    margin: 0 auto;
    max-width: 90vw;
    height: 60vh;
    padding: 2em;
    max-width: 90vw;
    background-image: url('../img/man.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include flexbox();
    justify-content: flex-end;
    form {
        width: 40%;
        min-width: 300px;
        color: $smokehaze;
        label {
            display: none;
        }
        input, input[type=textarea] {
            min-width: 200px;
            max-width: 300px;
            width: 100%;
        }
        h3 {
            font-weight: 600;
        }
        h4 {
            font-size: 16px;
        }
    }
  }
}

@media screen and (max-width: 768px) {
  .call-action-col-img {
    display: none;
  }
  .works {
      h5 {
        text-align: left;
      }
      form {
        justify-content: flex-end;
      }
  } 
}
