@import "./variable";
@import "./mixins";


body {
  background-color: $fall_background !important;
  h1,
  h2,
  h3,
  h4 {
    color: $fall_text;
  }
  p {
    color: $fall_background;
  }
  a {
    color: $fall_orange;
  }
  .container-fluid {
    .hero {
      background-image: url("../img/leaves.jpeg");
      background-position: bottom;
      hr {
        border: 1px solid $fall_orange;
      }
      h5 {
        color: $fall_text;
      }
        .hero-btn {
          border: 1px solid $fall_text;
          color: $fall_text;
          background-color: $fall_orange;

    }}
    .call-to-action {
      background-color: $fall_text;
      h2 {
        color: $fall_orange;
      }
      button {
        background-color: $fall_cementblue;
        color: $fall_text;
      }
    }
    .works {
      background-color: $fall_background;
    }
    .parallax {
      background-size: cover;
    }

    .phone-contact {
      background-color: $fall_orange;
      color: $fall_text;
    }
    .page-footer {
      background-color: $fall_text;
      height: 100%;
      h1 {
        padding: 3em 0 0.5em 0;
        color: $fall_background;
      }
      p {
        text-align: center;
      }
    }
  }
}

