@import "./variable";
@import "./mixins";


body {
  background-color: $fall_text !important;
  h1,
  h2,
  h3,
  h4 {
    color: $fall_text;
  }
  p {
    color: $winter_background;
  }
  a {
    color: $spring_header;
  }
  .container-fluid {
    .hero {
      background-image: url("../img/spring.jpg");
      background-position: center;
      background-size: cover;
      hr {
        border: 1px solid $spring_header;
      }
      h5 {
        color: $fall_text;
      }
        .hero-btn {
          border: 1px solid $fall_text;
          background-color: transparent; 
          color: $fall_text;
        }
    }
    .call-to-action {
      background-color: $fall_text;
      h2 {
        color: $spring_header;
      }
      button {
        background-color: $winter_cementblue;
        color: $fall_text;
      }
    }
    .works {
      background-color: $fall_text;
    }
    .parallax {
      background-size: cover;
    }
    .phone-contact {
      background-color: $spring_header;
      color: $fall_text;
    }
    .page-footer {
      background-color: $fall_text;
      height: 100%;
      h1 {
        padding: 3em 0 0.5em 0;
        color: $winter_background;
      }
      p {
        text-align: center;
      }
    }
    }
}


