@import "./variable";
@import "./mixins";

body {
  background-color: $fall_text !important;
  h1,
  h2,
  h3,
  h4
  {
    color: $fall_text;
  }
  p {
    color: $winter_background;
  }
  a {
    color: $summer_header;
  }
  .container-fluid {
    .hero {
      background-image: url("../img/summer.jpeg");
      background-position: bottom;
      background-size: 100%;
      hr {
        border: 1px solid $summer_header;
      }
      h5 {
        color: $fall_text;
      }
      .col:nth-of-type(2) {
        @include flexbox();
        .hero-btn {
          border: 1px solid $fall_text;
          color: $fall_text;
          background-color: $summer_secondary;
        }
      }
    }
    .call-to-action {
      background-color: $fall_text;
      h2 {
        color: $summer_secondary;
      }
      button {
        background-color: $summer_secondary;
        color: $fall_text;
      }
    }
    .works {
      background-color: $fall_text;
    }
    .parallax {
      background-size: cover;
    }
    .phone-contact {
      background-color: $summer_secondary;
      color: $fall_text;
    }
    .page-footer {
      background-color: $fall_text;
      height: 100%;
      h1 {
        padding: 3em 0 0.5em 0;
        color: $winter_background;
      }
      p {
        text-align: center;
      }
    }
  }
}
