@import "./variable";
@import "./mixins";

body {
  background-color: $winter_background !important;
  h1,
  h2,
  h3,
  h4 {
    color: $fall_text;
    text-align: center;
  }
  p {
    color: $off-black;
  }
  a {
    color: $winter_header;
  }
  .container-fluid {
    .hero {
      background-image: url("../img/winter.jpg");
      background-position: bottom;
      hr {
        border: 1px solid $winter_header;
      }
      h5 {
        color: $fall_text;
      }
        .hero-btn {
          border: 1px solid $fall_text;
          color: $fall_text;
        }
    }
    .call-to-action {
      background-color: $fall_text;
      h2 {
        color: $winter_header;
      }
      button {
        background-color: $winter_cementblue;
        color: $fall_text;
      }
    }
    .works {
      background-color: $winter_background;
    }
    .parallax {
      background-size: cover;
    }
    .phone-contact {
      background-color: $winter_header;
      color: $fall_text;
    }
    .page-footer {
      background-color: $fall_text;
      height: 100%;
      h1 {
        padding: 3em 0 0.5em 0;
        color: $winter_background;
      }
      p {
        text-align: center;
      }
    }
  }
}

